version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    directory: "/ui"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    groups:
      npm:
        patterns:
          - "*"

  # Enable version updates for pip
  - package-ecosystem: "pip"
    directory: "/api"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    groups:
      pip:
        patterns:
          - "*"

  # Enable version updates for pip (client)
  - package-ecosystem: "pip"
    directory: "/client"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    groups:
      pip:
        patterns:
          - "*"

  # Enable version updates for pip (plugins/evidence)
  - package-ecosystem: "pip"
    directory: "/plugins/evidence"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    groups:
      pip:
        patterns:
          - "*"

  # Enable version updates for pip (plugins/sentinel)
  - package-ecosystem: "pip"
    directory: "/plugins/sentinel"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    groups:
      pip:
        patterns:
          - "*"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
      include: "scope"
    groups:
      github-actions:
        patterns:
          - "*"
