[submodule "howler-ui"]
	path = howler-ui
	url = git@github.com:CybercentreCanada/howler-ui.git
[submodule "howler-client"]
	path = howler-client
	url = git@github.com:CybercentreCanada/howler-client.git
