coverage==7.4.0
diff-cover==8.0.2
pytest==7.1.2
pytest-cov==4.1.0
retrying==1.3.3
mock==5.1.0
pyftpdlib==1.5.7
pyopenssl==22.1.0
mock==5.1.0
mypy==1.6.1
mypy-extensions==1.0.0
# assemblyline_client==4.5.0
types-PyYAML==6.0.12.12
types-paramiko==3.3.0.0
types-pyOpenSSL==23.3.0.0
types-redis==4.6.0.9
types-six==1.16.21.9
types-requests==2.31.0.20240106
websocket-client==1.5.1
