name: Howler Client

on:
  push:
    branches:
      - main
      - develop
      - rc/*
      - patch/*
    paths:
      - "client/**"
      - "!client/LICENSE"
      - "!client/README.md"
      - .github/workflows/client-workflow.yml
    tags:
      - v*
  pull_request:
    branches:
      - main
      - develop
      - rc/*
      - patch/*
    paths:
      - "client/**"
      - "!client/LICENSE"
      - "!client/README.md"
      - .github/workflows/client-workflow.yml
  workflow_dispatch: {}

permissions:
  contents: read
  pull-requests: write

jobs:
  formatting:
    name: Validate Howler Client Code Quality

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client
    steps:
      - name: Checkout current ref
        uses: actions/checkout@v4
      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install Poetry
        uses: abatilo/actions-poetry@v4
      - uses: actions/cache@v3
        name: Define a cache for the virtual environment based on the dependencies lock file
        with:
          path: ./client/.venv
          key: venv-${{ hashFiles('client/poetry.lock') }}
      - name: Check for poetry config integrity
        run: |
          poetry --version
          poetry env use 3.12
          poetry check
          poetry env info
      - name: Install Dependencies
        run: |
          poetry install --verbose --with test
      - name: Run ruff formatting checks
        run: |
          poetry run ruff format howler_client --diff
      - name: Run ruff linter checks
        run: |
          poetry run ruff check howler_client --output-format=github
      - name: Run type checking
        run: |
          poetry run type_check
      - name: "Update poetry version"
        run: |
          poetry run python build_scripts/set_version.py
        env:
          BRANCH: ${{ github.ref }}
          BUILD_ID: ${{ github.run_number }}

  test:
    runs-on: ubuntu-latest

    name: Run Howler Client Unit Tests

    needs: formatting

    defaults:
      run:
        working-directory: client
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - name: Get base depth of PR
        if: github.event_name == 'pull_request'
        id: base-depth
        working-directory: .
        run: |
          echo "base-depth=$(expr ${{ github.event.pull_request.commits }} + 1)" >> $GITHUB_OUTPUT
      - name: Checkout current ref
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: ${{ steps.base-depth.outputs.base-depth }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Pull Dependent Docker Images
        run: |
          docker pull cccs/howler-api:nightly
          docker pull docker.elastic.co/elasticsearch/elasticsearch:8.3.3
          docker pull redis
      - name: Spin up test dependencies
        uses: hoverkraft-tech/compose-action@v2.4.3
        with:
          compose-file: "client/test/docker-compose.yml"
      - name: Install Poetry
        uses: abatilo/actions-poetry@v4
      - uses: actions/cache@v3
        name: Define a cache for the virtual environment based on the dependencies lock file
        with:
          path: ./client/.venv
          key: venv-${{ hashFiles('client/poetry.lock') }}
      - name: Install Dependencies
        run: |
          poetry install --verbose --with test
      - name: Generate random data, user accounts
        run: |
          docker ps
          docker exec $(docker ps -aqf "name=howler-api") python -m howler.odm.random_data
          docker logs $(docker ps -aqf "name=howler-api")

          curl --fail-with-body http://localhost:5000/api/apispec_v1.json
      - name: Run tests
        id: tests
        continue-on-error: true
        run: |
          poetry run test
        env:
          WRITE_MARKDOWN: "true"

      - name: Add Failed Test PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request' && steps.tests.outcome == 'failure'
        # https://github.com/marocchino/sticky-pull-request-comment/issues/227
        continue-on-error: true
        with:
          path: client/test-results.md
          header: client

      - name: Coverage Results
        if: steps.tests.outcome == 'success'
        run: |
          git diff --name-only $(git merge-base $BASE_SHA $HEAD_SHA)..$HEAD_SHA
          git diff $(git merge-base $BASE_SHA $HEAD_SHA)..$HEAD_SHA > diff.txt
          poetry run coverage_report
        env:
          BASE_SHA: ${{ github.event.pull_request.base.sha }}
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}
          GIT_BRANCH: ${{ github.event.pull_request.head.ref }}

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: steps.tests.outcome == 'success' && github.event_name == 'pull_request' && matrix.python-version == '3.12'
        # https://github.com/marocchino/sticky-pull-request-comment/issues/227
        continue-on-error: true
        with:
          path: client/coverage-results.md
          header: client

      - name: Force Failure if Tests Failed
        if: steps.tests.outcome == 'failure'
        run: |
          exit 1
  push_to_pypi:
    if: github.event_name != 'pull_request'

    runs-on: ubuntu-latest

    name: Build Howler Client Python Package

    needs:
      - formatting
      - test

    defaults:
      run:
        working-directory: ./client

    steps:
      - name: Checkout develop
        uses: actions/checkout@v4
        with:
          ref: develop
      - name: Checkout current ref
        uses: actions/checkout@v4
      - name: Install Poetry
        uses: abatilo/actions-poetry@v4
      - uses: actions/cache@v3
        name: Define a cache for the virtual environment based on the dependencies lock file
        with:
          path: ./client/.venv
          key: venv-${{ hashFiles('client/poetry.lock') }}
      - name: Install Dependencies
        run: |
          poetry install
      - name: "Update poetry version"
        run: |
          poetry run python build_scripts/set_version.py
        env:
          BRANCH: ${{ github.ref }}
          BUILD_ID: ${{ github.run_number }}
      - name: Build Package
        run: |
          poetry install
          poetry build
      - name: Configure Poetry for PyPI
        run: poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
      - name: Publish the package to PyPI
        if: github.event_name != 'pull_request'
        run: |
          poetry publish
